.app {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(https://img1.goodfon.com/original/1440x900/f/52/star-wars-mandalorian-skull-4692.jpg)
}

.button{
  position: center;
}


h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.newUserText {
  text-align: left;
  text-indent: 45px;
}

.loginText{
  text-align: left;
  text-indent: 45px;
}