h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}


form {
  border-color:black; 
  border-radius: 2px;
}

.border {
  width: 6rem;
    height: 6rem;
    margin: 0.5rem;
    background-color: rgb(206, 118, 118);
    display: inline-block;

}